.wrap {
   height: auto;
   width: 100vw;
   /* background-color: #9acfe3; */
	 background-color: #9fcdde;
	 /* background-color: #dfe9ec; */
	 /* background-color: #6593a3; */
	 /* background-color: #95d1e8; */

   padding: 20px;
   margin-top: 0;
 }


 #header {
  height: 200px;
  width: 100vw;
  /* background-image: url("samui.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1%;
	border-radius: 20px;
	margin-left: 5px;
    }
/* group of nav buttons */
 .navbar	{
	position: relative;
	top: 58px;
	width: 600px;
	height: 70px;
	margin-right: 20px;
 }


	.title {
		/* color: #130100; */
		/* color: #121b1e; */
			/* color: #6593a3; */
			/* color: #6492a3; */
			color: white;
		font-weight: solid;
		font-style: oblique;
		font-size: 50px;
		margin-top: 20px;

	}
	/* nav.button {
    width: 500px;
    height: 1px;
    padding: 5px;
 	 corner-radius: 20px;
  } */

  .btn {
 	 /* background-color: #95d1e8; */
 	  /* background-color: #6593a3; */
		/* background-color: #779ecb; */
		/* background-color: #6593a3; */
		background-color: #56b6da;
 		margin-top: 10px;
		padding-right: 10px;
  }
  .searchBar	{
 	 width: 700px;
 	 position: relative;
 	 left: 650px;
  }

#main {
	background-color: #fafafa;
	width: 100vw;
	border-radius: 10px;
	/* position: relative;
	top: 50px; */
	margin-top: 20px;
	border:  1px;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

#sidebar {
	display: grid;
	grid-template-columns: 1fr;
}

/* sidebar list and signUp Login text */
li {
	margin-top: 1px;
	padding: 10px;
  list-style: none;
  color: 	#4682B4;
  font-size: 20px;
  font-weight: 400px;
}

/* container for videos, render all videos on main VideosHub */
.VideosHub  {
	display: inline-grid;
	grid-template-columns:  1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
  padding-left: 5px;
  margin-left: 5px;
  margin-top: 30px;
  border-radius: 10px;

}

.card {
	height: 400px;
	width: 250px;
	border-size: 5px;
	background: 		#fafafa;
	border-color: solid black;
	margin-bottom: 10px;
}
.card-body {
	margin-top: 0px;
	padding: 10px;
}
.card-title {
	font-size: 20px;
	margin-top: 15px;
}
.card-text {
	color: tomato;
}
icon {

	margin: 5px;
}
