.wrap {
   height: auto;
   width: 100vw;
   background-color: 	#fafafa;
   padding: 20px;
   margin-top: 0;

 }
 nav.button {
   width: auto;
   height:50px;
   position: relative;
   left: 300px;
   padding: 5px;

 }

 .button {
   width: 200px;
   /* background-color: #B0E0E6; */

 }
 #header {
  height: 300px;
  width: 100vw;
  background-image: url("samui.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1%;
    }

  div.title {
    width: 100vw;
    margin: 0;

  }
  .appName {
    font-size: 35px;
    margin-left: 20px;
  }
  .title {
    height: 5%;
    width: 50%;
    margin:  10px;
    padding: 0px;

    position: relative;
    left: 50%;
    font-size: 25px;
    color: 	tomato;

  }
  p.title {
    margin-left: 20px;
  }

#main {
  background-color: black#fafafa;
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
    position: relative;
    top: 50px;
    margin-top: 0;
    display: flex;
		border: solid 2px;

  }
#sidebar {
  background-color: #E0E0E0;
  margin: 20px 10px 10px 20px;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}



.sidebarUl {
margin-bottom: 100px;
}

/* sidebar list and signUp Login text */
li {
  list-style: none;
  color: 	#4682B4;
  font-size: 20px;
  font-weight: 500;

}

#VideosHub  {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  /* width: calc(100vw-400px); */
  background-color: 	#5F9EA0;
  margin-top: 50px;
  padding: 20px;
  align-items: flex-start;
  border-radius: 10px;
}


#video  {
  padding-left: 5px;
  margin-left: 5px;
  margin-top: 30px;
  border-radius: 10px;

}
.postVideo {
  font-size: 20px;
  color: white;
  border-radius: 20px;
  padding: 15px;
  background-color: tomato;
  position: relative;
  left:  750px;
}

.card {
	border-size: 5px;
	background: 		#fafafa;
	border-color: solid black;
}
.card-title {
	font-size: 20px;
	margin-top: 10px;

}
.card-text {
	color: tomato;
}
